<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        {{@article.title}}
      </h5>
      <p class="card-text height">
        {{@article.description}}
        <BsPopover @triggerEvents="hover" >
          {{@article.description}}
        </BsPopover>
      </p>
    </div>
    <div class="card-footer">
      {{#if @article.github}}
        <a class="card-link" href={{@article.github}} target="_blank" rel="noopener noreferrer">GitHub.</a>
      {{else}}
        <a class="card-link" href="#" {{on "click" (fn this.goToArticle @article)}}>Read More.</a>
      {{/if}}
    </div>
  </div>
</div>
