<section id="product">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-12 section-heading text-center">
        <h2>Explore Deeper</h2>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 subtext">
            <p>Delve into the intricate layers of cybersecurity with our in-depth analysis and commentary. Discover the latest trends, tools, and tactics that are shaping the future of digital protection. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="post-entry">
        {{#each this.sites as |site|}}
          <div class="col-md-6">
            <div class="post animate-box">
              <LinkTo @route={{site.link}}><img src={{site.img}} alt="Product"></LinkTo>  
              <div>
                {{!-- template-lint-disable link-href-attributes --}}
                <h3><a><LinkTo @route={{site.link}}>{{site.title}}</LinkTo></a></h3>
                <p>{{site.desc}}</p>
                {{!-- template-lint-disable no-invalid-link-text --}}
                <span><LinkTo @route={{site.link}}>{{site.seeMore}}</LinkTo></span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      {{#each this.cards as |card|}}
        <div class="col-md-4 animate-box">
          <div class="service">
            <div class="service-icon">
              <i class="icon-command"></i>
            </div>
            <h2>{{card.title}}</h2>	
            <p>{{card.desc}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>