<header id="fh5co-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="row flex--center-align">
        <div class="col-md-3">
          <div class="fh5co-navbar-brand">
            {{!-- template-lint-disable require-valid-alt-text --}}
            <a class="fh5co-logo" href="https://github.com/vickie-ks" target="_blank" rel="noopener noreferrer">
              <img class="logo-icon" src="images/brand-nav.jpeg" alt="Closest Logo">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav text-center">
            {{#each this.urls as |url|}}
              {{!-- template-lint-disable link-href-attributes --}}
              <li><a><LinkTo @route={{url.link}}>{{url.label}}</LinkTo></a></li>  
            {{/each}}
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="social">
            {{#each this.socs as |soc|}}
              <li>
                <a href={{soc.link}} target="_blank" rel="noopener noreferrer">
                  <i class={{soc.class}}></i>
                  {{!-- <img class="link-icon" src={{soc.imgSrc}} alt="LinkedIn"> --}}
                </a>
                {{!-- <i class="icon-twitter"></i> --}}
              </li>
            {{/each}} 
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>