<BsNavbar @type="dark" @backgroundColor="dark" as |navbar|>
  <div class="top-nav--container">
  <LinkTo @route="home" class="navbar-brand">CipherVoyage</LinkTo>
  <navbar.toggle />
  <navbar.content>
    <navbar.nav as |nav|>
      {{#each this.urls as |url|}}
        <nav.item>
          <nav.link-to @route={{url.link}}>{{url.label}}</nav.link-to>
        </nav.item>
      {{/each}}
      <nav.dropdown as |dd|>
        <dd.toggle>About <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route="about" activeClass="bg-dark">Me</ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
    </navbar.nav>
  </navbar.content>

  
  <ul class="nav navbar-nav">
    {{#each this.socs as |soc|}}
      <li>
        <a class="nav-link" href={{soc.link}} target="_blank" rel="noopener noreferrer">
          <i class={{soc.class}}></i>
          {{!-- <img class="link-icon" src={{soc.imgSrc}} alt="LinkedIn"> --}}
        </a>
        {{!-- <i class="icon-twitter"></i> --}}
      </li>
    {{/each}}
  </ul>
  </div>
</BsNavbar>