<article>
  <img class="article-img" src="{{this.model.imageUrl}}" alt="{{this.model.title}}" />
  <h1 class="article-title">{{this.model.title}}</h1>
  {{!-- template-lint-disable no-triple-curlies --}}
  <p class="article-main-desc">{{safe-html this.model.description}}</p>
  <small>Published on: {{format-date this.model.date}}</small>
</article>
