<article>
  <img class="article-img" src="{{this.model.imageUrl}}" alt="{{this.model.title}}" />
  <h1>{{this.model.title}}</h1>
  {{!-- template-lint-disable no-triple-curlies --}}
  <p>{{safe-html this.model.description}}</p>
  <small>Published on: {{format-date this.model.date}}</small>
</article>
